# Node
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# SQLite DB files
*.sqlite

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Coverage
/coverage/

.env*
.flaskenv*
!.env.project
!.env.vault